main {
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.page-content {
    padding: 0;
}

.site-title {
    margin-left: 5rem;
}

.trigger {
    margin-right: 5rem;
}

.wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainsection {
    height: 55vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    margin-top: -6%;
}


.avatar img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    position: relative;
    padding-left: 4.5rem;
}

.content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: black;
}

.content h1 {
    font-size: 96px;
    font-weight: 800;
    margin-bottom: 30px;
}

.content p {
    font-size: 18px;
    max-width: 600px;

}